/*************
RESET
*************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*************
COMMON
*************/
body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: white;
}

.row {
    display: flex;
    align-items: center;
}

button {
    border: none;
    color: white;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: inherit;
}

button:hover {
    cursor: pointer;
}

button:hover:not(main button) {
    box-shadow: 0px 0px 3px 1px rgba(255,255,255,0.3);
}

/*************
HEADER
*************/
header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 10;
}

header .view {
    gap: 5px;
    padding: 5px;
    justify-content: flex-end;
}

header .view > * {
    background-color: #4a4a4a;
    border-radius: 3px;
    padding: 0 4px;
    height: 18px;
} 

/*************
MAIN
*************/
.group {
    width: 90vw;
    height: calc(100vh - 130px);
    margin: 50px auto 80px;
    padding-bottom: 10px;

    gap: 10px 5px;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
}

.group .partecipant {
    background-image: url('https://picsum.photos/190/110');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 190px;
    height: 110px;
    position: relative;
}

.group .partecipant .name {
    position: absolute;
    left: 0;
    bottom: 2px;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 4px;
}

.group .partecipant .name .partecipant-mic {
    background-color: transparent;
}

.group .partecipant .name .partecipant-mic:active {
    display: none;
} 

/*************
FOOTER
*************/
footer {
    height: 60px;
    background-color: #222222;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    justify-content: space-between;
}

footer .settings,
footer .end-meeting {
    width: 20%;
}

footer .settings {
    padding-left: 10px;
}

footer .settings, 
footer .tools {
    gap: 6px;
    list-style-type: none;
}

footer .settings > li > button,
footer .tools > li > button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

footer .tools {
    justify-content: center;
}

footer i:not(.angle i) {
    font-size: 22px;
}

footer .share-screen i {
    color: #4bc800;
}

footer .end-meeting {
    justify-content: flex-end;
}

footer .end-meeting span {
    padding: 0 15px;
    line-height: 60px;
    color: #be1e06;
    background-color: #4a4a4a;
    display: inline-block;
}

footer button {
    padding: 6px;
    border-radius: 4px;
}

footer .end-meeting button {
    padding: 0px;
} 

/* ===== SCROLLBAR ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #0d0d0d #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #0d0d0d;
    border-radius: 10px;
    border: 0px solid #ffffff;
  }